
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: transparentize(#3490dc, .7);
$indigo: transparentize(#6574cd, .7);
$purple: transparentize(#9561e2, .7);
$pink: transparentize(#f66D9b, .7);
$red: transparentize(#e3342f, .7);
$orange: transparentize(#f6993f, .7);
$yellow: transparentize(#ffed4a, .7);
$green: transparentize(#38c172, .7);
$teal: transparentize(#4dc0b5, .7);
$cyan: transparentize(#6cb2eb, .7);
