
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: transparentize(#3490dc, .15);
$indigo: transparentize(#6574cd, .15);
$purple: transparentize(#9561e2, .15);
$pink: transparentize(#f66D9b, .15);
$red: transparentize(#e3342f, .15);
$orange: transparentize(#f6993f, .15);
$yellow: transparentize(#ffed4a, .15);
$green: transparentize(#38c172, .15);
$teal: transparentize(#4dc0b5, .15);
$cyan: transparentize(#6cb2eb, .15);
