// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome.scss';

.navbar {
  background-color: #0064dc;
  padding: 0.35rem 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}
